<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.logether.board.mapper.BoardMapper">

    <insert id="boardAdd" parameterType="board">
        INSERT INTO board
            (board_body, board_date, board_user_id)
        values
            (#{boardBody}, NOW(), #{boardUserId})
    </insert>

    <update id="boardUpdate" parameterType="board">
        UPDATE
            board
        SET
            board_body = #{boardBody}
        WHERE
            board_user_id = #{boardUserId}
        AND
            board_code = #{boardCode}
    </update>

</mapper>
